/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Dec-2018, 15:49:21
    Author     : maddie
*/
* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7f8;
    padding: 20px;
    font-family: Trebuchet MS;


}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.leftcolumn {   
    float: left;
    width: 74%;
}

.rightcolumn {
    float: right;
    width: 24%;
    padding-left: 20px;
    display: table-caption;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.comments {
    padding: 10px;
}

#comment {
    width:500px;
    height:100px;
    font-size:14pt;
}

.alert-success{
    color: green;
}

.alert-danger{
    color: red;
}
