<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="layout :: site-head">
        <title>Create Post</title>
    </head>

    <body>

        <header th:replace="layout :: site-header" />

        <h1>Create Post</h1>
        
        
        <form method="post" th:object="${createPostForm}">
            <div><label for="title">Title:</label></div>
            <input id="title" type="text" name="title" th:value="*{title}" />
            <span class="formError" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid title</span>

            <div><label for="body" >Write a post..</label></div>
            <input id="body" type="text" name="body" th:value="*{body}" />
            <span class="formError" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Invalid body</span>

            <div><input type="submit" value="Post"/></div>
        </form>
            
        
        <footer th:replace="layout :: site-footer" />

    </body>

</html>