<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

    <head th:include="layout :: site-head">
        <title th:text="${post.title}">View Post</title>

    </head>

    <body>

        <header th:include="layout :: site-header"></header>

        <div class="row">
            <div class="rightcolumn">
                <div class="card">
                    <h2>Tags</h2>

                    <div id="showtags1">
                        <article th:each="p, iter : ${alltags}">
                            <a th:if="${iter.count <= 5}" href="#" th:text="${p.name}" th:href="@{/tags/view/{id}/(id=${p.tag_id})}"></a>
                        </article>
                    </div>

                    <div id="showtags2" style="display:none">
                        <article th:each="p : ${alltags}">
                            <a href="#" th:text="${p.name}" th:href="@{/tags/view/{id}/(id=${p.tag_id})}"></a>
                        </article>
                    </div>

                    <button type="button" id="showMoreTags" class="showMoreTags" onclick="showMoreTags()">Show more</button>
                </div>
            </div>

            <div class="leftcolumn">
                <main id="posts">
                    <div class="card">
                        <div th:if="${param.error}" class="alert-danger">    
                            Something went wrong: Your comment was NOT been posted - please ensure your comment is not null.
                        </div>
                        <article th:each="p : ${post}">
                            <h2 class="title" th:text="${p.title}">Post Title</h2>
                            <div class="date">
                                <i>Posted on</i>
                                <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}"></span>
                                <span th:if="${p.user}" th:remove="tag">
                                    <i>by</i>
                                    <span th:text="${p.user.fullName != null ?
                                          p.user.fullName : p.user.username}"></span>
                                </span>
                                <i>Tagged</i>
                                <span th:text="${p.tag.name}"></span>
                            </div>
                            <p class="content" th:utext="${p.body}">Post content</p>
                        </article>
                    </div>
                    <h2>Comments:</h2>
                    <div class="comments">
                        <div id="com">
                            <article th:each="c : ${postComments}">
                                <span style="font-weight: bold;" th:text="${c.user.getUsername()}"></span>
                                <span th:text="${c.body}"></span>
                                <p class="content" th:text="${#dates.format(c.date, 'dd-MMM-yyyy hh:mm:dd')}"></p>
                                <hr>
                            </article>
                        </div>

                        <form method="post" th:object="${commentForm}" id="commentForm">
                            <div><label for="commentBody">Leave a comment:</label></div>
                            <input id="commentBody" type="text" name="commentBody" th:value="${commentBody}"/>
                            <span class="commentBody" th:if="${#fields.hasErrors('commentBody')}" th:errors="*{commentBody}"></span>
                            <div><input type="submit" value="Submit"/></div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <div class="footer">
            <footer th:replace="layout :: site-footer"></footer>
        </div>

    </body>

</html>