<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="layout :: site-head">
        <title th:text="${post.title}">View Post</title>
    </head>

    <body>

        <header th:replace="layout :: site-header" />

        <div class="row">
            <div class="rightcolumn">
                <div class="card">
                    <h2>Tags</h2>
                    <article th:each="p : ${alltags}">
                        <a href="#" th:text="${p.name}" th:href="@{/tags/view/{id}/(id=${p.tag_id})}"></a>
                    </article>
                </div>
            </div>

            <div class="leftcolumn">

                <main id="posts">
                    <div class="card">
                        <article th:each="p : ${post}">
                            <h2 class="title" th:text="${p.title}">Post Title</h2>
                            <div class="date">
                                <i>Posted on</i>
                                <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}"></span>
                                <span th:if="${p.user}" th:remove="tag">
                                    <i>by</i>
                                    <span th:text="${p.user.fullName != null ?
                                          p.user.fullName : p.user.username}"></span>
                                </span>
                                <i>Tagged</i>
                                <span th:text="${p.tag.name}"></span>
                            </div>
                            <p class="content" th:utext="${p.body}">Post content</p>
                        </article>
                    </div>
                    <h2>Comments:</h2>
                    <div class="comments">
                        <article th:each="c : ${postComments}">
                            <span style="font-weight: bold;" th:text="${c.user.getUsername()}"></span>
                            <span th:text="${c.body}"></span>
                            <p class="content" th:text="${#dates.format(c.date, 'dd-MMM-yyyy')}"></p>
                            <hr>
                        </article>

                        <form method="post" th:object="${commentForm}">
                            <div><label for="comment">Leave a comment below:</label></div>
                            <br>
                            <input id="comment" type="text" name="comment" th:value="*{comment}"/>
                            <br>
                            <div><input type="submit" value="Submit"/></div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <div class="footer">
            <footer th:replace="layout :: site-footer" />
        </div>

    </body>

</html>