<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="layout :: site-head">
        <title>Login</title>
        <link rel="stylesheet" href="../../css/main.css" th:href="@{/css/main.css}" />
    </head>

    <body>

        <header th:replace="layout :: login-header" />
        
        
        <h1>Login</h1>

        <form method="post" th:object="${loginForm}" th:action="@{/users/login}">
            <div th:if="${param.error}" class="alert-danger">    
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert-success"> 
                You have been logged out.
            </div>
            <div th:if="${param.registered}" class="alert-success"> 
                You have successfully registered.
            </div>
            
            <table>
                <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input id="username" type="text"  placeholder="Username" required="true" th:field="*{username}"/></td>
                    <td><span class="formError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid username</span></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input id="password" type="password" placeholder="Password" required="true" th:field="*{password}" /></td>
                    <td><span class="formError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid password</span></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Login"/></td>
                    <td><a href="register.html" th:href="@{/users/register}">[Go to Register]</a></td>
                </tr>
            </table>   
        </form>
        

    </body>

</html>