<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="layout :: site-head">
        <title>Profile</title>
    </head>
    
    <body>
        <header th:replace="layout :: site-header" />
        
        <h1>Profile</h1>
        
        <main>
            <p th:text="${username}">Username</p>
            <p th:text="${fullName}">Full name</p>
            
            <h2>Posts</h2>
            
            <div th:each="p : ${userPosts}">
                <a href="#" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}"></a>
            </div>
            
        </main>
        
    </body>
</html>
