<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:replace="layout :: site-head">
        <title>Register</title>
    </head>

    <body>

        <header th:replace="layout :: site-header" />

        <h1>Register</h1>

        <form method="post" th:object="${registerForm}">
            <div th:if="${param.error}" class="alert alert-success"> 
                There has been a problem with your registration.
            </div>
            <div th:if="${param.registered}" class="alert alert-success"> 
                You have successfully registered.
            </div>
            
            
            <div>
                <label for="username">Username:</label>
                <input id="username" type="text" th:field="*{username}" />
                <span class="formError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid username</span>
            </div>
            
            <div>
                <label for="password">Password:</label>
                <input id="password" type="password" th:field="*{password}" />
                <span class="formError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid password</span>
            </div>
            
            <div>
                <label for="name">Name:</label>
                <input id="name" type="text" th:field="*{name}" />
                <span class="formError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid name</span>
            </div>
            
           
           <div>
               <input type="submit" value="Signup"/>
               <a href="login.html" th:href="@{/users/login}">Go back to login</a>
           </div>
        </form>
        
       

    </body>

</html>